body {
    background-color: #975F5F;
    
}

.header {
    background-color: #6b2b2b;
    padding: 0;
    height: 52px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
/* test */
.test {
    height: 1000px;
}

#date {
    text-align: right;
    position: absolute;
    top: 13.8px;
    right: 0px;
    padding: .2em 2em .2em 2em;
    width: fit-content;
    background-color: lightgrey;
    border-radius: 10px;
    margin: 0;
}

.main {
    margin: 4em 6em 2em 6em;
}

h1, h3, p, #date {
    color: rgb(85,85,85);
}

h3 {
    text-transform: uppercase;
}

h1 {
    text-align: center;
    background-color: lightgrey;
    border-radius: 15px;
    padding: 1em 0 1em 0;
    border-style: outset;
}

.friend {
    padding: 2em;
    background-color: lightgrey;
    border-radius: 15px;
    border-style: outset;
}



